<div class="img-wrapper">
  <img src="assets/banners/banner1.png" alt="Banner refloreste" />
</div>

<section class="home-content">
  <div class="cards-section">
    <div class="card">
      <div class="card-img">
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt=""
        />
      </div>
      <div class="card-content">
        <p>
          O reflorestamento é o processo de plantio de árvores em áreas que
          foram previamente desmatadas. O objetivo é ajudar a restaurar e
          melhorar o meio ambiente criando novas áreas cobertas de árvores.
        </p>
      </div>
    </div>

    <div class="card card-reverse">
      <div class="card-img">
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt=""
        />
      </div>
      <div class="card-content">
        <p>
          Vários indivíduos e organizações participam de projetos de
          reflorestamento. Em geral, os participantes do projeto são
          selecionados para projetos com base em suas habilidades,
          disponibilidade e vontade de participar.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-img">
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt=""
        />
      </div>
      <div class="card-content">
        <p>
          O reflorestamento é um processo que ajuda a replantar árvores em uma
          área que foi desmatada, geralmente como parte de um programa florestal
          ou de conservação e é uma das formas em que os participantes do
          projeto podem ajudar.
        </p>
      </div>
    </div>

    <div class="leads"></div>
  </div>
</section>
