.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 100%;
    height: calc(100vh - 350px);
  }
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 1.5em;
}

.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1em;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid #95c11f;
  padding: 1.5em;
  max-width: 90%;
  margin: 3em auto;
  flex-direction: row;
}

.card-reverse {
  flex-direction: row-reverse;
  border: 1px solid #486635;
}

.card-img {
  & img {
    width: 250px;
    height: auto;
  }
}

.card-content {
  max-width: 60%;
  font-size: 20px;
}
