<mat-tab-group mat-align-tabs="center" headerPosition="below" color="primary">
  <mat-tab label="Objetivos">
    <div class="img-wrapper"> <img src="assets/Logo/Logo_Refloreste_com_texto.png" alt="" /> </div>
  </mat-tab>

  <mat-tab label="Second">
    <div class="img-wrapper"> <img src="assets/Logo/Logo_Refloreste_com_texto.png" alt="" /> </div>
  </mat-tab>

  <mat-tab label="Third">
    <div class="img-wrapper"> <img src="assets/Logo/Logo_Refloreste_com_texto.png" alt="" /> </div>
  </mat-tab>
</mat-tab-group>
